
/* SASS Stylers --------------------------------------- */

$background-color: ;
$primary-color:#EAEAEA;
$primary-font: 'Cabin Sketch', cursive; ;
$secondary-font: 'Open Sans', sans-serif;;

/* SASS Mixin ---------------------------------------- */

::-webkit-scrollbar {
    display: none;
}

* {box-sizing:border-box}

/* Body Style  --------------------------------------- */
body{
  height: 100%;
  width: 100%;
  font-family: $secondary-font;
  background: url("images/mountains-night-clouds-lake.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.nav{
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7) 90%, transparent 10%);
  font-size: 1.2em;
  height: 7%;
  font-family: $primary-font;
    .nav-link{
      color: $primary-color;
}}


.landing-title{
  position: relative;
  color: $primary-color;
  height: 90vh;
  text-align: center;
  font-family: $primary-font;
    h1{
    font-size: 11rem;
    padding: 12% 0 40px;
  }
  h3{
   font-size: 3em;
  }
    h2{
      font-size: 2em;
      font-family: $secondary-font;
    }
}

.carousel{
  margin: 50px;
  padding-bottom: 25px;
}

.carousel-item img{
width: 100%;
margin: auto;
}

#breaker{
  border-top: white solid 2px;
  width: 25%;
  margin: 15px auto;
}

.content-container{
  position: relative;
  background: rgba(0, 0, 0, 0.6);
  border-left: solid 5px $primary-color;
  border-right: solid 5px $primary-color;
  border-radius: 15px;
  min-height: 70%;
  width: 70%;
  margin: auto;
  margin-top: 45px;
  h2{
    font-size: 3em;
    padding: 25px 0 0;
    text-align: center;
    color: $primary-color;
    font-family: $primary-font;
  }
  h3{
    text-align: center;
    text-decoration: underline;
    color: $primary-color;
  }
  p{
    text-align: none;
    font-size: 1.3em;
    padding: 0 50px;
    color: $primary-color;
  }
  li{
    color: $primary-color;
    padding-left: 15px;
    font-size: 1.3em;
  }
    a{
      color: green;
    }
}


.portfolio-container{
  min-height: 300px;
  h3{
    padding-bottom: 15px;
   }
}
.portfolio-pic1{
  max-width: 40%;
  float: right;
  padding-right: 40px;
}

.portfolio-pic2{
  max-width: 40%;
  float: left;
  margin: 0 50px 0 40px;
}

.divider{
  height: 25%;
  width: 100%;
    .arrow{
  display: flex;
  margin: 30px auto 0px;
  width: 100px;
}}

.overlay-footer{
  position: fixed;
  bottom:0;
  left:0;
  width: 100%;
  z-index: 4;
}

.footer-image{
  width:100%;
  margin: auto;
  margin-bottom: -2vh;
}

/* Slideshow Styler ---- */

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
